/*****************************
  BASE SETUP
*****************************/

html {
  box-sizing: border-box; /* use IE box model */
  /* position: relative; */
}

*, *:before, *:after {
  box-sizing: inherit; /* inherit allows for easy creation of a new box model context further down the tree */
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; /* smoother rendering of fonts */ 
  --primary: 255,116,110;
  --mid: rgba(136,136,136);
  --dark: rgb(17,17,17);
  
}

/***NAVBAR***/
nav {
  /* position: relative; */
  padding-top: 30px;
  font-family: 'Open Sans', sans-serif;  
  text-transform: uppercase;
  
}

nav > * {
  display: inline-block;
}
/* nav p {
  float: left;
  margin-right: 30px;
} */

ul {
  text-align: center;
  margin-left: 50%;
}

nav ul li {
  list-style-type: none;
  display: inline-block; 
  margin: 0 20px;   
  font-size: 15px;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: var(--mid);  
}

button {
  float: right;
  margin-right: 20px;
  background-color: white;
  border-radius: 15px;
  padding: 5px 30px;
}

#logo{
  float: left;
  margin-left: 20px;
  color: var(--dark);
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  
}

/****IMAGE SECTION****/
figure {
  width: 600px;
  position: absolute;
  /* background-color:  rgb(49, 189, 147); */
  height: 600px;
  /* float: right; */
  top: 30%;
  right: 10%;
  margin: 0;
  padding: 0;
} 
#outer-circle{
  /* border: 40px solid rgb(49, 189, 147); */
  position: absolute;
  background-color: rgba(var(--primary), 0.3);;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#mid-circle {
  height: 90%;
  width: 90%;
  border-radius: 50%;
  /* border: 40px solid rgba(var(--primary), 0.5); */
  background-color: rgba(var(--primary), 0.5);
  top: 5%;
  margin: 0 auto;
  position: relative;
   
} 

#night-img {
 position: relative;
 border: 40px solid rgb(var(--primary));   
 margin: 0;
 padding: 0; 
 width: 90%; 
 height: 90%;
 border-radius: 50%;
 top: 5%;
 left: 5%;
 background-image: url("/images/nighttime.jpg");
 background-size: cover;
 background-repeat: no-repeat;
}

/**TEXT BODY**/
section {
  position: absolute;
  top: 40%;
}

h2 {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}

section p {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif; 
  color: var(--mid);
  line-height: 1.7em;
}

section h3 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  color: var(--dark);
  position: relative;
  width: auto;
}

section h3::after {
  content: "";
  background-color: var(--dark);
  height: 4px;
  width: 25px;
  position: absolute;
  left: 150px;
  bottom: 5px;
}

/**FOOTER**/
#scroll-div {
  position: absolute;
  top: 100%;
  left: 40px;
  bottom: 5px;
}

#scroll {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  position: relative; 
  bottom: 30px;
  top: 10px;
  transform: rotate(-90deg);
  text-transform: uppercase;
}

#scroll::before {
  content: "";
  background-color: var(--dark);
  height: 4px;
  width: 25px;
  position: absolute;
  bottom: 0;
  /* left: 20px; */
  right: 80px;
  top: 50%;
}