/*****************************
  BASE SETUP
*****************************/

html {
  box-sizing: border-box; /* use IE box model */
}

*, *:before, *:after {
  box-sizing: inherit; /* inherit allows for easy creation of a new box model context further down the tree */
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; /* smoother rendering of fonts */
  --primary: 255,116,110;
  --mid: rgba(136,136,136);
  --dark: rgb(17,17,17);
  
}
nav {
  /* position: relative; */
  padding-top: 30px;
  font-family: 'Open Sans', sans-serif;  
  text-transform: uppercase;
  
}

nav > * {
  display: inline-block;
}
/* nav p {
  float: left;
  margin-right: 30px;
} */

ul {
  text-align: center;
  margin-left: 50%;
}

nav ul li {
  list-style-type: none;
  display: inline-block; 
  margin: 0 20px;   
  font-size: 15px;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: var(--mid);  
}

button {
  float: right;
  margin-right: 20px;
  background-color: white;
  border-radius: 15px;
  padding: 5px 30px;
}

#logo{
  float: left;
  margin-left: 20px;
  color: var(--dark);
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  
}

/* section {
  
}
*/
figure {
  width: 740px;
  position: relative;
  background-color:  rgb(49, 189, 147);
  height: 740px;
  float: right;

} 
#outer-circle{
  /* border: 40px solid rgb(49, 189, 147); */
  position: absolute;
  background-color: rgb(50, 21, 211);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#mid-circle {
  height: 90%;
  width: 90%;
  border-radius: 50%;
  /* border: 40px solid rgba(var(--primary), 0.5); */
  background-color: red;
  top: 5%;
  margin: 0 auto;
  position: relative;
   
} 

#night-img {
 /* text-align: center; */
 position: relative;
 /* border: 10px solid black;    */
 margin: 0;
 padding: 0; 
 width: 90%; 
 height: 90%;
 border-radius: 50%;
 top: 5%;
 left: 5%;
 background-image: url("/images/nighttime.jpg");
}

img {   
   position: absolute;
    /* border-radius: 50%; */
    /* border: 40px solid rgb(var(--primary)); */
       
}

#scroll {
  position: relative;
  bottom: 20px;
  transform: rotate(-90deg);
}